[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
requests-oauthlib = "*"
pydantic = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
hub-api-sample = "python hub-api-sample.py"
